.array-container {
  position: absolute;
  left: 68px;
}
  
.array-bar {
  width: 2px;
  display: inline-block;
  margin: 0 1px;
}

button {
  margin: 0 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}